<!DOCTYPE html>
<html lang="en">
<head>
    <%-partial('../partials/_head')%>
</head>

<body class="layout2">
    <%-partial('../partials/_topbar_superadmin')%>
    <div id="Content">
        <%- body %>
    </div>
    <%-partial('../partials/_newrequest')%>
    <%-partial('../partials/vue-templates/_vue-profile-flyout-template')%>
    <%-partial('../partials/vue-templates/_vue-modal-template')%>
    <%-partial('../partials/_modals')%>
</body>



</html>